<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> -->
    <h1>El Blog de Dave El Pato</h1>
    <p>Bienvenido a mi blog, donde podrás ver posts hechos por otros usuarios y colgar los tuyos propios.</p>

    <!-- <a href="/">Home</a>
    <a href="/author">Autor</a> -->
  <!-- </body>
</html> -->
