<!DOCTYPE html>
<html>
<head>
    <title>Blog de Dave El Pato</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>
    Añadir nuevo Post:
</h1>

<form method="post"  action="/posts" enctype="multipart/form-data" >

    <%- include('_form.ejs') %>

</form>
</body>
</html>